<div>
  <div>
    <h1>
      List of all monthlies
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new monthly
    </h2>

    <form action="/insert_monthly" method="post">
      <div>
        <label for="planner_id_box">
          Planner
        </label>

        <input type="text" id="planner_id_box" name="query_planner_id">
      </div>

      <div>
        <label for="html_box">
          Html
        </label>

        <input type="text" id="html_box" name="query_html">
      </div>

      <button>
        Create monthly
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Planner
        </th>

        <th>
          Html
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_monthlies.each do |a_monthly| %>
      <tr>
        <td>
          <%= a_monthly.id %>
        </td>

        <td>
          <%= a_monthly.planner_id %>
        </td>

        <td>
          <%= a_monthly.html %>
        </td>

        <td>
          <%= time_ago_in_words(a_monthly.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_monthly.updated_at) %> ago
        </td>

        <td>
          <a href="/monthlies/<%= a_monthly.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
