<div>
  <div>
    <h1>
      Monthly #<%= @the_monthly.id %> details
    </h1>

    <div>
      <div>
        <a href="/monthlies">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_monthly/<%= @the_monthly.id %>">
          Delete monthly
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Planner
      </dt>
      <dd>
        <%= @the_monthly.planner_id %>
      </dd>

      <dt>
        Html
      </dt>
      <dd>
        <%= @the_monthly.html %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_monthly.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_monthly.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit monthly
    </h2>

    <form action="/modify_monthly/<%= @the_monthly.id %>"  method="post" >
      <div>
        <label for="planner_id_box">
          Planner
        </label>

        <input type="text" id="planner_id_box" name="query_planner_id" value="<%= @the_monthly.planner_id %>">
      </div>

      <div>
        <label for="html_box">
          Html
        </label>

        <input type="text" id="html_box" name="query_html" value="<%= @the_monthly.html %>">
      </div>

      <button>
        Update monthly
      </button>
    </form>
  </div>
</div>

<hr>
